*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #8c7994;
}

#navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.logo{
    width: 30%;
}
.logo > img{
    height: 150px;
}

.filter{
    width: 70%;
}
.filter > select{
    width: 20%;
    padding: 10px;
    border-radius: 10px;
    margin-right: 7px;
    font-size: 1rem;
}

#container {
    /* border: 1px solid red; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    
}

#container>div {
border: 2px solid #060329;
width: 96%;
height: 200px;
border-radius: 20px;
margin: auto;
background-color: #16c6cc;
margin-bottom: 20px;

}
#container>div h4{
    margin-top: 30px;
}